<% flash.each do |type, msgs| %>
    <div class="container">
        <% msgs.each do |msg| %>
            <p class="alert alert-danger <%= type %>"><%= msg %></p>
        <% end %>
    </div>
<% end %>

  