DB_USERNAME=admin
DB_PASSWORD=my_password
TOMORROW_API_KEY=(Contact andrew.jorczak@gmail.com for flash paper of creds)
LOB_API_KEY=(Contact andrew.jorczak@gmail.com for flash paper of creds)
TOMORROW_BASE_URL=https://api.tomorrow.io/v4/weather/realtime
REDIS_URL=redis://redis:6379/0
